body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

td {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

th {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.bodystyle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.header {
	background-color: #BBCAD7;
}
.side_column {
	background-color: #849EB7;
}
.title_column {
	background-color: #6B8AA9;
	font-size: 18px;
	font-weight: bolder;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #5E5E5E;
}
.footer_cell {
	background-color: #6B8AA9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5F5F5F;
}


.small {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.medium {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.big {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.xbig {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bolder;
	text-transform: capitalize;
	color: #797979;
	font-variant: normal;
}

.expanded {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 2px;
}

.justified {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: justify;
}

.footer {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #999999;
}

.box1 {
	padding: 3px;
	border-width: thin;
	border-style: solid;
	border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

.box2 {
	font-style: italic;
	word-spacing: 2pt;
	padding: 3px;
	border-width: thin;
	border-style: solid;
}

img{border:0px;}
.flt{float:left;}
.menubg{clear:left; background-color:#849EB7; width:190px;}
.menu{float:left; clear:left; font:bold 11px Arial, Helvetica, sans-serif;}
.menu li {
margin:0px 0px 0px 0px;
	list-style:none;
	}
.menu a, .menu a:visited {
	width:186px;
	height:22px;
	margin:0px 0px 2px -32px;
	position:relative;
	display:block;
	color:#fff;
	text-decoration:none;
	background:url(menubg2.jpg) no-repeat;
	padding:4px 0 0 8px;
	}
*html .menu a, .menu a:visited {
	width:186px;
	height:22px;
	margin:0px 0px 2px -32px;
	position:relative;
	display:block;
	color:#fff;
	text-decoration:none;
	background:url(menubg2.jpg) no-repeat;
	padding:4px 0 0 8px;
	}
.menu a:hover, .menu a:active,
.menu li.current_page_item a, .menu li.current_page_item a:visited  {
	background:url(menubg1.jpg) no-repeat;
	text-decoration:none;
	}	
.bot{clear:left;}
.table_header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #BBCAD7;
	color: #5E5E5E;
}
.std_table {
	background-color: #797979;
}
.table_odd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #EBEBEB;
}
.table_even {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #F7F7F7;
}
.conn_logs {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #F7F7F7;
}
.conn_logs_active {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #C4FFD7;
}
.conn_logs_header {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #6B8AA9;
}
.conn_logs_even {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #E9E9E9;
}
